{% load staticfiles %}
{% load static %}

body{
    overflow-x: hidden;
    min-height:100vh;
    padding:0px;
    margin:0px;
}

.row{
    margin:0px;
}

/*  Блок Основного тела  */
.body{
    min-height:100vh;
}

.basket_icon{
    display:none;
    position:fixed;
    left:0px;
    top:70vh;
}

.basket_icon .basket_icon_img{
    border-radius: 30px;
    background:white;
    position:fixed;
    left:0px;
    top:70vh;
}

.basket_icon .basket_icon_p{
    position:fixed;
    left:21px;
    top:71vh;
    color:red;
    font-weight:bolder;
    font-size:20px;
}



.basket_icon img{
    width:50px;
}


/*  Блок Навигации  */

.dummy{
    height:60px;
    width:100%;
}
.border{
    border: 2px solid black!important;
}

.nav{
    z-index:3;
    position:fixed;
    background-color: white;
    height:60px;
    width:100%;
    color:white;
    display: block;

}
.nav a{
    color:black;
    text-decoration:none;
}

/*  Блок Навигации ширина 1140-  */
@media (max-width: 1140px){
    .img_menu{
        position:fixed;
        left:35px;
        top:13px;
    }

    .clos{
        float:right;
        color:white;
        font-weight:bolder;
        font-size:20px;
    }

    .nav .logo{
         float:right;
         padding:15px;
    }



    .nav .menu{
        position:fixed;
        left: -100%;
        width:100%;
        height:100vh;
        z-index:4;
        background-color:rgb(0 0 0 / 30%);
        display:flex;
    }

    .nav .menu ul{
        padding:20px;
        font-size:24px;
    }

    .nav .menu ul li{
        list-style-type: none;
        padding:3px;
    }

    .nav .menu ul li{
        list-style-type: none;
    }

    @media (max-width: 1140px){
        .nav .cont{
            width:100%;
            background:black;
            min-height:100vh;
        }
    }
    @media (min-width: 540px){
        .nav .cont{
            width:320px;
            background:black;
            min-height:100vh;
        }
        .menu .background{
            height: 100vh;
            width: calc(100% - 321px);
    }
    }



}
/*  Блок Навигации ширина 1140+  */
@media (min-width: 1140px){

    .clos{
        display:none;
    }

    .img_menu{
        display:none;
    }

    .nav .logo{
         float:left;
         padding:15px;
    }

    .nav .menu ul{
        float:right;
        padding-top:10px;
        margin-right:10px;
    }

    .nav .menu ul li{
         display:inline-block;
         padding:5px;
    }
    .nav .background{
        display:none;
    }
}


/*Главная страница*/
.main_p .body1{
    display: flex;
    justify-content: center;
    background: #000000;
}

@media (min-width: 420px){

.main_p .body1 .img{
    background-image: url('/static/content/img/aple.jpg');
    background-repeat: no-repeat;
    background-position:center;
    height:95vh;
    width:100%;
}
}



@media (max-width: 420px){

.main_p .body1 .img{
    background-image: url('/static/content/img/aple.jpg');
    background-repeat: no-repeat;
    /*background-size:100%;*/
    background-position:center;
    height:100vh;
    min-width:100%;
}

}



.main_p .body1 img{
    max-width:90%;
    height:auto;
}

.main_p .body1 .img{
    display:flex;
    justify-content:content;
}


.main_p .body2 {
    background: #3e1414;
}


.main_p .body2 a{
    color:white;
}

.main_p .gg{
    display: flex;
    align-items:center;
}

.main_p .img_container{
    width:100%;
    width:100%;
    padding-top:10px;
}

.main_p .img_container .a_img{
    width:100%;
    height:100%;
}

.main_p .img_container .a_img{
    width:100%;
}

.main_p .img_container .a_img div{
    width:100%;
    display: flex;
    justify-content: center;
}
.main_p .body2 p{
    text-align:  center!important;
}

@media (max-width: 700px){
   .main_p .body2 .text {
       font-size:12px;
   }

}



@media (min-width: 968px){
   .main_p .body2 .row .img_container{
        width:10%;
   }

}

@media (max-width: 968px){
   .main_p .body2 .row .img_container{
        width:20%;
   }


}





.fullwidth-bg {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -100;
}

.propk {
    display:flex;
    justify-content:center;
    max-height:70vh;
}

.video-layer{
    background: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;

}

.video-layer  {
    text-align:center;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items: center;
}

.video-layer h1{
    font-size: 45px;
}

@media (max-width: 767px) {
    .fullwidth-bg {
        background: url('/uploads/video-bg-alt.jpg') center center / cover no-repeat;
    }

    .fullwidth-bg__video {
        display: none;
    }
}








/*  Блок Футера  */
footer{
    background-color: black;
    min-height:300px;
    width:100%;
    color: white;
}

footer a{
    color: white;
}

footer ul li{
    list-style-type: none;

}
footer ul{
    padding-left:5px;
}


/* Категории товаров */

.category .block{
    position:relative;
    text-align: center;
    width:33.333%;
    display: flex;
    flex-direction:column;
    justify-content: flex-end; /* space-between */
    text-align: center;

}



.category .block img{
    width:80%;
}
.category .block .text{
    bottom:0px;
    font-size:18px;
    font-weight:bold;
    margin: 20px 5px;
}
.category h3 {
    padding:10px;
}
.category a{
    color:black;
    text-decoration:none;
}

@media (max-width: 576px){
    .category .block .text{
        font-size:14px;
}
    .category h3{
        font-size:24px;
    }

}


/* Детали товара */
.tovar_detail{
/*text-align:center;*/
}
.tovar_detail .price h4{
    margin-top:7px;
}

.tovar_detail .description img{
    max-width:80%;
}

.tovar_detail .main_img{
    text-align:center;
}

.tovar_detail .main_img img{
    margin-top:25px;
    text-align:center;
    width:90%;
}

.tovar_detail p{
    margin-bottom:8px;
    margin-top:5px;
}

.tovar_detail button p{
    margin-bottom:0px;
    margin-top:0px;
}

.tovar_detail .picture{
    width: 33.33%;
}

.picture{
    padding:5px;
}

.pictures img{
    width:95%;
}

.tovar_detail .color img{
    width:20px;
}

.tovar_detail button{
    margin:2px 4px;
    padding:8px;
    border-radius:5px;
    background: white;
}

.tovar_detail button:disabled{
    background: black;
    color:white;
}

/* Доставка */

.delivery{
    margin-bottom:30px;
}

.delivery .logo_lettering{
    margin:15px;
    text-align:center;
}
/* Ремонт */

.background_choice{
    background:#1b1b1b;
    border-radius:15px;
    color:white;
}

.repairs .block2 .table{
    display:flex;
    justify-content:center;
}
.repairs .block2 td{
    background:#1b1b1b;
    color:white;
}

.repairs {
    margin:20px;
}

.repairs .block2{
    margin-top:30px;
}

.repairs .container{
    padding:0px;
}

.vl {
    border-left: 3px solid red;
    height: auto;
}



.repairs .images .image{
    width:44%;
    margin:2.5%;
    padding:2.5%;
    display:flex;
    justify-content:center;
}

.repairs .images .image img{
    width:100%;

}




/* Оплата */

.payment{
    margin-bottom:30px;
}

.payment h1{
    text-align:center;
}


/* Корзина покупателя */

.you_basket .main{
    max-height:35vh;
    margin:10px;
    background:#cacaca;
    border-radius:20px;
}
.you_basket .main .img{
    width:35%;
}
.you_basket .main .content{
    width:60%;
}
.h30{
    height:30%
}

@media (min-width: 960px){
.you_basket .main .img img{
    max-width: 70%;
    max-height:30vh;
    margin: 10px 8% ;
}
}
@media (max-width: 960px){

.you_basket .main .img img{
    max-width: 90px;
    max-height:35vh;
    margin: 10px;
    margin-left: 25px;
}
}

.you_basket .main .quantity{
    display:flex;
    justify-content:center;
    align-items:center;
}

.you_basket .main .content .icon img{
    width:15px;
    margin:10px;
}
.you_basket .main .content .number{

    padding-top:15px;
}

.full_price{
    z-index:3;
    border-radius:10px;
    width:170px;
    background:rgb(214 213 213 / 90%);
    position:fixed;
    bottom:0px;
    right:0px;
    font-size: 16px;
    font-weight:bolder;
}

.full_price div{
    margin:3px 10px;

}

.full_price .bubble{
    display:flex;
    justify-content:center;

}

.full_price p{
    margin:0px!important;
}
.full_price .knopka{
    display:flex;
    justify-content: flex-end;;
}


.full_price .knopka button{
    border-radius:3px;
    border:none;
    background:#1dce1d;
    font-weight:bolder;
    width:100%;
    padding:5px;
    margin:2px;
}







.body_form_basket{
    z-index: 3;
    margin:0px;
    width:100%;
    height:100vh;
    background:rgb(33 37 41 / 60%);
    position:fixed;
    top:0px;
    left: -100%;
    display:flex;
    justify-content:center;
    align-items: center;
}

.list-group{
    position:fixed;
}



.form_basket_hidden{
    z-index:3;
    bottom:20px;
    right:30px;
    width:400px;
    height: 500px;
    border-radius: 20px;
    background: #f7f7f7;
}


.form_basket hr{
    margin: 9px;
}

.form_basket input, .form_basket textarea{
    width:95%;
}

.form_basket .btt{
    float:right;
}

.form_basket .closer{
    float:right;
}

.form_basket .list-group-item{
    height:60px;
}

.ss{
    background: #c3ecc4;
    border-radius: 10px;
    width: 90%;
    margin: 5px 5%;
}

.mess{
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 65px;
    background: url('/static/content/img/icon-yes.svg') 40px 12px no-repeat;
    background-size: 16px auto;
    color: var(--body-fg);
}















