{% extends 'content/base.html' %}
{% load static %}

{% block title %}
    Доставка
{% endblock %}

{% block body %}

<div class="delivery">

  <h2 class="logo_lettering">Способы доставки из нашего магазина</h2>

  <div class="container">


    <div class="row">

    <div class="col-md-6">
      <h3>Самовывоз с магазина в Умани</h3>
      <p>
        Заказ можно забрать в Умани ул. Горького, 6
      </p>
      <p>
        При оформлении заказа наш менеджер уточнит удобное время приезда за покупкой
      </p>
      <p>
        Чтобы получить заказ – достаточно знать номер заказа
      </p>
    </div>

    <div class="col-md-6">
      <h3>Доставка</h3>

      <p>
        Доставка платная. Стоимость доставки по городу – 100 грн.
      </p>
      <p>В другие города мы чаще всего доставляем с помощью Новой Почты,
        но если вам больше нравится другая компания – свяжитесь с нами</p>

      <div class=phone><a href="tel:+380633322836">+380633322836</a></div>
<!--      <a href="mailto:vlad@webref.ru">mail</a>-->
      <p>
        Сроки доставки в отделение «Нова пошта» 1 – 3 дня
      </p>

      <p>
        После отправки заказа мы отправим сообщение с номером экспресс-накладной
      </p>
      <p>
        Уточнить конкретную дату получения вашего заказа вы можете на
        <a href="novaposhta.ua">
          сайте компании «Нова пошта»
        </a>
      </p>
      <p>
        В обязательном порядке проверяйте ваш заказ на соответствие с
        товарным чеком перед оплатой в отделении «Нова пошта»
      </p>
      <p class="font-weight-bold">
        Важно!
      </p>
      <p>
        Перед отправкой весь товар проверяется и страхуется на полную стоимость.
        При получении отправления вам необходимо проверить товар непосредственно
        в отделении компании “Нова пошта” в присутствии сотрудника.
        В случае неполного комплекта, недостачи товара или отсутствия документов
        (чек, гарантийный талон и тд.), необходимо составить акт несоответствия.
        Если упаковка повреждена, или на товаре обнаружены механические повреждения
        вам необходимо отказаться от отправления либо предъявить претензии компании
        “Нова пошта”. Компания “Нова пошта” возмещает причиненный ущерб, если он был
        причинен по ее вине.
      </p>


    </div>

</div>




  </div>

</div>


{% endblock %}
