{% extends 'content/base.html' %}
{% load static %}

{% block title %}
    XXXXX
{% endblock %}

{% block body %}

<div class="main_p">

    <div class="body3">


        <div class="fullwidth-bg">
            <div class="video-layer">
            </div>
            <div class="propk">

                <video loop muted autoplay poster="/uploads/video-bg-alt.jpg" class="fullscreen-bg__video">
                    <source src="{% static 'content/video/iphone12.mp4' %}" type="video/mp4">
                    <source src="{% static 'content/video/iphone12.mp4' %}" type="video/webm">
                </video>

            </div>
        </div>


    </div>
    <div class="body2 ">
        <div class="container">
            <div class="row gg">

                <div class="img_container">
                    <a class="a_img" href="/shop/iphone/iphone-12-pro-max">
                        <div><img style="height:60px;" src="{% static 'content/img/preview/reColorIphone.png' %}" alt=""></div>
                        <div class="text">
                            <p>iPhone 12 Pro Max</p>
                        </div>
                    </a>
                </div>

                <div class="img_container">
                    <a class="a_img" href="/shop/iphone/iphone-12-pro">
                        <div><img style="height:50px;" src="{% static 'content/img/preview/reRedColorIphone.png' %}" alt=""></div>
                        <div class="text">
                            <p>iPhone 12 Pro</p>
                        </div>
                    </a>
                </div>

                <div class="img_container">
                    <a class="a_img" href="/shop/iphone/iphone-12">
                        <div><img style="height:60px;" src="{% static 'content/img/preview/iphone_11_dark__exagpxb8zh4y_large.png.webp' %}" alt=""></div>
                        <div class="text">
                            <p>iPhone 12</p>
                        </div>
                    </a>
                </div>

                <div class="img_container">
                    <a class="a_img" href="/shop/iphone/iphone-12-min">
                        <div><img style="height:45px;" src="{% static 'content/img/preview/iphone_11_dark__exagpxb8zh4y_large.png.webp' %}" alt=""></div>
                        <div class="text">
                            <p>iPhone 12 mini</p>
                        </div>
                    </a>
                </div>

                <div class="img_container">
                    <a class="a_img" href="/shop/iphone/iphone-11-pro">
                        <div><img style="height:45px;" src="{% static 'content/img/preview/iphone_11_pro_dark__cchxb3bv66vm_large.png' %}" alt=""></div>
                        <div class="text">
                            <p>iPhone 11 Pro</p>
                        </div>
                    </a>
                </div>

                <div class="img_container">
                    <a class="a_img" href="/shop/iphone/iphone-11">
                        <div><img style="height:50px;" src="{% static 'content/img/preview/iphone_11_dark__exagpxb8zh4y_large.png.webp' %}" alt=""></div>
                        <div class="text">
                            <p>iPhone 11</p>
                        </div>
                    </a>
                </div>

                <div class="img_container">
                    <a class="a_img" href="/shop/iphone/iphone-xr">
                        <div><img style="height:45px;" src="{% static 'content/img/preview/iphone_11_dark__exagpxb8zh4y_large.png.webp' %}" alt=""></div>
                        <div class="text">
                            <p>iPhone Xr</p>
                        </div>
                    </a>
                </div>

                <div class="img_container">
                    <a class="a_img" href="">
                        <div><img style="height:45px;" src="{% static 'content/img/preview/iphone-se-ico.png' %}" alt=""></div>
                        <div class="text">
                            <p>iPhone SE</p>
                        </div>
                    </a>
                </div>

                <div class="img_container">
                    <a class="a_img" href="">
                        <div><img style="height:50px;" src="{% static 'content/img/preview/iphone_comp_dark__ganfgd3pa9m6_large.png' %}" alt=""></div>
                        <div class="text">
                            <p>Витринные iPhone</p>
                        </div>
                    </a>
                </div>

                <div class="img_container">
                    <a class="a_img" href="">
                        <div><img style="height:50px;" src="{% static 'content/img/preview/xcalculator-icon-2.png' %}" alt=""></div>
                        <div class="text">
                            <p>Калькулятор iPhone</p>
                        </div>
                    </a>
                </div>




            </div>
        </div>
    </div>
    <div class="body1">
        <div class="img">

        </div>
    </div>
    <div class="body4">
        <div class="container">

            <h2>Любимые товары наших покупалетей:</h2>
            <div class="row">
                <div class="part">
                    <img src="{% static 'content/img/preview/iphone-12-pro-max.webp' %}" alt="">
                    <div class="">iPhone 12 Pro Max</div>
                </div>
                <div class="part">
                    <img src="{% static 'content/img/preview/ipad-pro-12-select.webp' %}" alt="">
                    <div class="">iPad Pro 12,9″ 2021</div>
                </div>
                <div class="part">
                    <img src="{% static 'content/img/preview/watch.webp' %}" alt="">
                    <div class="">Apple Watch Series 6</div>
                </div>
                <div class="part">
                    <img src="{% static 'content/img/preview/MultimediaAdapter.webp' %}" alt="">
                    <div class="">Мультипортовый адаптер</div>
                </div>

            </div>
            <div class="row mt-5">
                <div class="part">
                    <img src="{% static 'content/img/preview/Apple_Watch_Magnetic_Charging_Cable.webp' %}" alt="">
                    <div class="">Magnetic Charging Cable</div>
                </div>
                <div class="part">
                    <img src="{% static 'content/img/preview/apple-tv-hero-select-201709.jpg.webp' %}" alt="">
                    <div class="">Apple TV 4K</div>
                </div>
                <div class="part">
                    <img src="{% static 'content/img/preview/MMEF2.jpg.webp' %}" alt="">
                    <div class="">AirPods 2</div>
                </div>
                <div class="part">
                    <img src="{% static 'content/img/preview/mac-mini-hero-202011.jpg.webp' %}" alt="">
                    <div class="">Mac mini 2020 M1</div>
                </div>

            </div>

        </div>
    </div>


</div>





{% endblock %}
