{% extends 'content/base.html' %}
{% load static %}

{% block title %}
    Публичная оферта
{% endblock %}

{% block body %}
<div class="container public_offer">
    <h1>Публичная оферта</h1>
    <div class="elementor-text-editor elementor-clearfix">
        <p><strong>Преамбула</strong></p>
        <p>Уважаемый пользователь сайта&nbsp;www.grokholsky.com, обращаем Ваше внимание
            на то, что использование сайта, а также совершение на нем покупок и использование
            информации с него означает, что Вы ознакомлены и согласны с условиями использования
            сайта&nbsp;www.grokholsky.com,&nbsp;а также является акцептом Вами данной публичной оферты.
            Использование в любом виде сайта&nbsp;www.grokholsky.com&nbsp;(в том числе, но не ограничиваясь
            заказом&nbsp;Вами товаров и услуг с использованием сайта&nbsp;www.grokholsky.com, участие в
            бонусных программах, акциях, заполнение заявок, форм и т.п.) является Вашим безоговорочным
            согласием со всеми положениями и условиями данной публичной оферты и приравнивается к
            подписанию договора обеими сторонами. Данная публичная оферта является обязательной для
            исполнения сторонами. В случае Вашего несогласия с условиями данной публичной оферты,&nbsp;
            Вы должны воздержаться от использования сайта&nbsp;www.grokholsky.com.&nbsp;</p>
        <p><strong>ОПРЕДЕЛЕНИЯ И ТЕРМИНЫ:</strong></p>
        <ol>
            <li>
                Сайт – web-сайт, принадлежащий Владельцу сайта и имеющий адрес в сети
                Интернетwww.grokholsky.com, с помощью которого Пользователь имеет возможность
                осуществить покупку желаемого товара.
            </li>
            <li>
                Пользователь (ВЫ) – физическое лицо, резидент Украины, достигшее
                18 – летнего возраста, обладающее полной дееспособностью, использующее данный
                сайт и/или его отдельные инструменты, согласившееся с условиями Публичной оферты
                и выполнившее все ее условия описанные ниже.
            </li>
            <li>
                Покупатель – Пользователь, осуществивший заказ на сайте www.grokholsky.com.
            </li>
            <li>
                Администрация сайта – администрация интернет-магазина «Grokholsky Repair Company»,
                www.grokholsky.com<span style="font-size: 15px;">, ФОП Грохольский Сергей</span>
            </li>
            <li>
                Соглашение – данная публичная оферта, включая все ее условия.
            </li>
            <li>
                Продавец – юридическое лицо или физическое лицо-предприниматель, которое размещает
                на Сайте информацию о товарах и/или услугах, которые можно заказать. Продавцом может
                быть, как Администрация так и любое другое лицо, которому Администрация предоставила
                право на размещение сведений о товаре и/или услугах. Наименование Продавца указывается
                в документах на передачу товара Покупателю (акт приёма-передачи, расходная накладная,
                товарный чек, фискальный чек и т.п., подтверждающих факт передачи товара Покупателю).
            </li>
            <li>
                Товар – товары, услуги, иные материальные и нематериальные объекты, информация о которых
                размещена на Сайте.</li>
            <li>
                Заказ – обращение Пользователя через Сайт и/или посредством
            звонка на горячую линию к Продавцу с просьбой осуществить заказ товара, а также совокупность
            товаров, указанных в заказе Пользователя.</li>
            <li>
                Плательщик – лицо, осуществляющее оплату заказа Пользователя.</li>
            <li>Получатель – лицо, указанное Плательщиком в форме заказа в качестве лица
            и уполномоченное Плательщиком получить товар. Если иное не указано в форме Заказа, Получателем
            является Плательщик.</li>
            <li>
                Предложение – сведения о товаре, размещённые Продавцом на Сайте,
                которые включают в себя информацию о товаре, его цене, способах оплаты и доставки, информацию
                о скидках и акционных предложениях на товар, а также другие условия заказа товара. Условия Предложений,
                размещенных на Сайте, устанавливаются Продавцом. Предложение является информацией о
                возможных условиях заказа товара.</li><li>Стороны – Продавец, Покупатель, Пользователь.
            </li>
        </ol>
        <p><strong style="font-size: 15px;">ПРЕДМЕТ И УСЛОВИЯ СОГЛАШЕНИЯ</strong></p>
        <p>1.1. Настоящее Соглашение регулирует порядок доступа Пользователя к информации,
            размещаемой на Сайте, порядок использования Сайта, а также возможность передачи
            таких товаров Пользователю.</p>
        <p>1.2. Настоящее Соглашение является публичной офертой. Используя материалы и инструменты
            Сайта, Пользователь считается безоговорочно и безусловно принимающим (акцептирующим)
            настоящее Соглашение. Пользователь обязан полностью ознакомиться с условиями настоящего
            Соглашения до регистрации на Сайте и/или нажатия кнопки “Купить”. Регистрация Пользователя
            на Сайте означает полное и безоговорочное принятие Пользовательского соглашения (в соответствии
            со статьями 641, 642 Гражданского Кодекса Украины).</p>
        <p>1.3. Сайт является платформой для размещения предложений о продаже товаров Продавцами.</p>
        <p>1.4. Информация о товаре отображается на сайте&nbsp;&nbsp;www.grokholsky.com&nbsp;и является
            динамической. Это значит, что информация может быть обновлена, изменена и дополнена&nbsp;
            Администрацией в любой момент времени без предварительного уведомления Пользователя. Любая
            информация о товаре Продавца, условиях акции, цене товара, и любые иные правила предоставления
            услуг Продавцом отображаются на сайте&nbsp;www.grokholsky.com. Администрация Сайта вправе в
            любое&nbsp;время в одностороннем порядке изменять условия настоящего Соглашения. Изменения
            вступают в силу с момента размещения новой версии Соглашения на сайте&nbsp;www.grokholsky.com.</p>
        <p>1.5. Настоящий договор может быть заключён право- и дееспособным Пользователем, достигшим 14 лет
            , с учетом особенностей, предусмотренных главой 4 Гражданского Кодекса Украины. Принимая условия
            договора, Вы подтверждаете свою право- и дееспособность, принимаете на себя обязательства,
            возникающие в результате использования сайта&nbsp;www.grokholsky.com&nbsp;и
            заключения данного договора.</p>
        <p>1.6. Предложение на Сайте не является офертой. Пользователь после ознакомления
            с размещенным на сайте Предложением имеет право сделать оферту Продавцу путём
            заполнения формы Заказа и/или осуществить заказ через Колл Центр сайта. Заполнение формы
            Заказа считается офертой Пользователя Продавцу на заказ Пользователем товара на условиях,
            указанных в соответствующем Предложении.</p>
        <p>1.7. Оферта считается принятой Продавцом, если Продавец осуществил действия,
            свидетельствующие о принятии оферты Пользователя, а именно: фактически отгрузил
            товар, приступил к оказанию услуг в соответствии с условиями, предусмотренными
            офертой Пользователя, предоставил счет на оплату заказанных товаров.</p>
        <p>1.8. Продавец имеет право предложить заказать товар на иных условиях после
            получения оферты Пользователя. В таком случае данное предложение считается
            встречной офертой и должно быть принято Пользователем. Принятием встречной
            оферты считается фактическое получение Пользователем и/или Получателем товара
            на условиях, предусмотренных встречной офертой. Продавец имеет право отозвать
            встречную оферту до момента получения товара Покупателем.</p>
        <p>1.9. Согласованием всех существенных условий Сторонами является оплата
            и/или фактическое получение товара Покупателем, а также отгрузка товара Продавцом.</p>
        <p>1.10. Стороны соглашаются, что направление Продавцом и/или Администрацией сайта любых
            уведомлений о наличии товара, принятии заказа, сроках доставки товара, его цене,
            условиях и формах оплаты, статусе и/или изменениях статуса заказа и т.п., отправленных
            Продавцом и/или Администрацией сайта посредством электронной почты, sms- сообщений,
            посредством телефонии, является исключительно уведомлением Покупателя о получении оферты
            Продавцом и не может свидетельствовать об ее акцептировании Продавцом.</p>
        <p>1.11. Доставка товара осуществляется компанией перевозчиком «Новая Почта» путем самовывоза
            с отделений «Новой Почты», компанией перевозчиком «Пост.Юа» путем адресной доставки по г.
            Киев либо самостоятельным вывозом товара клиентом с розничного магазина сети компании
            «Grokholsky Repair Company».</p>
        <p>Если в населенном пункте не представлено отделение компании перевозчика либо
            розничного магазина Продавца, Пользователь имеет право выбрать для доставки
            ближайший населенных пункт, в котором представлено отделение компании перевозчика
            либо Продавца. Доставка заказанного Пользователем товара осуществляется за счет
            Пользователя. Адреса отделений компании перевозчика можно увидеть по
            ссылке&nbsp;http://novaposhta.ua/uk/office. Со списками адресов и магазинов
            сети «Grokholsky Repair Company» можно ознакомиться на сайте&nbsp;http://www.grokholsky.com,
            раздел «Контакты».</p>
        <p>Продавец не осуществляет доставку на оккупированные территории
            Украины (АРК, территории Луганской и Донецкой областей), а также иные населенные пункты,
            которые не обеспечены отделениями компанией перевозчиком. Пользователи соглашаются с тем,
            что стоимость товаров/услуг Продавца, размещенных на сайте Инициатором, может увеличиваться
            без предварительного уведомления.</p>
        <p>1.12. Моментом получения товара Получателем подписание Получателем документа, подтверждающего
            факт принятия заказного Пользователем товара (товарно-транспортная накладная, акт приема-передачи,
            декларация на пересылку, товарно–транспортная накладная и т.д.) или фактическое получение Получателем
            Товара и совершение им действий, свидетельствующих о принятии товара. Перед отправкой товар проверяется
            и страхуется на полную стоимость. При получении товара Получатель обязуется проверить товар на наличие
            повреждений, а также наличие комплекта необходимых документов (товарный чек, гарантийный талон, акт
            приема-передачи) и в случае проблем на месте предъявить претензии службе доставки. Продавец не несет
            ответственность за действия компании перевозчика.</p>
        <p>1.13. При принятии (акцептировании) оферты Продавца Пользователь
            предоставляет согласие о получении информации о товаре посредством
            дистанционной связи. Проставленная подпись на документах, подтверждающих
            принятие товара и/или фактическое принятие товара, означает, что Получатель
            получил все необходимые сведения (информацию) о товаре до момента его принятия.&nbsp;</p>
        <ol start="2"><li><strong> ОТВЕТСТВЕННОСТЬ СТОРОН</strong></li></ol>
        <p>2.1. Являясь Пользователем Сайта, Вы гарантируете не предпринимать каких-либо действий,
            нарушающих законодательство Украины, нормы международного права и действий, которые могут
            нарушить нормальное функционирование Сайта.</p>
        <p>2.2. Пользователь обязан своевременно проинформировать
            Администрацию Сайта о несанкционированном доступе к личной
            странице Пользователя третьими лицами. Для информирования пользователь
            должен обратиться в Службу поддержки по координатам, указанным на Сайте.</p>
        <p>2.3. Пользователь предоставляет свое согласие на использование и обработку персональных
            данных Пользователя в соответствии с действующим законодательством Украины.</p>
        <p>2.4. Принимая условия Пользовательского соглашения, Пользователь также подтверждает,
            что ознакомлен и согласен с Политикой конфиденциальности Сайта, а также с условиями данного Соглашения.</p>
        <p>2.5. Принимая условия Пользовательского соглашения, Пользователь подтверждает, что он является право-
            и дееспособным, а также что у него отсутствуют какие-либо ограничения в дееспособности.</p>
        <p>2.6. Комментарии и иные записи Пользователя на Сайте не должны противоречить требованиям
            законодательства Украины и общепринятых норм морали и нравственности.</p>
        <p>2.7. Ответственность за денежные переводы, которые осуществляют Плательщики, полностью
            лежит на банках и платёжных системах, услугами которых решает воспользоваться Пользователь.
            Продавец не берёт на себя ответственность за действия Процессинговых центров.</p>
        <p>2.8. Владелец сайта не несет ответственность за работоспособность оборудования,
            на котором размещен Сайт, доступность Сайта, работу каналов передачи данных и
            прочие технические средства для осуществления Пользователями доступа к Сайту.</p>
        <p>2.9. Продавец не несет ответственность за действия Перевозчика, в том числе за сроки
            перевозки компанией перевозчиком, а также за сохранность доставки.</p>
        <p>2.10. Ответственность Продавца за изменения условий заказа товара ограничивается
            правом Получателя (Пользователь, Плательщик) отказаться от заказа товара и
            требовать возврата уплаченных за него денежных средств (если они оплачены).</p>
        <p>2.11. Пользователь несёт ответственность за достоверность данных, указанных в форме Заказа.
            В случае, если некорректное, неточное и/или неправильное указание данных в Заказе привело
            к дополнительным расходам Продавца, связанным с доставкой товара по неверному адресу или
            выдачу товара неверному Получателю, все связанные с этим убытки и расходы возлагаются на
            Пользователя. Продавец имеет право удерживать сумму таких убытков или расходов из сумм,
            уплаченных Плательщиком в качестве оплаты товара. Пользователь обязан предоставить о себе
            всю необходимую информацию для осуществления электронной сделки.&nbsp;</p>
        <ol start="3"><li><strong> ПРОЧИЕ УСЛОВИЯ</strong></li></ol>
        <p>3.1. Пользователь имеет право назначить Получателем заказанного товара третье лицо.
            В этом случае Получатель обязан указать в форме Заказа данные, необходимые для идентификации
            Получателя и доставки ему товара. На отношения сторон, в таком случае, распространяются положения
            ст. 636 Гражданского Кодекса Украины.</p>
        <p>3.2. Все возможные споры и противоречия, возникающие между
            Сторонами в рамках данного Соглашения, подлежат разрешению в соответствии с действующим законодательством
            Украины исключительно по месту регистрации Владельца сайта. Признание судом какого-либо положения данного
            Соглашения недействительным не отменяет действие Соглашения в остальной части и не снимает с Пользователя
            Сайта обязательств, принятых при регистрации.</p>
        <p>3.3. Все права на Сайт в целом и на использование
            сетевого адреса (доменного имени)&nbsp;www.grokholsky.com&nbsp;принадлежат Владельцу сайта.</p>
        <p>3.4. Пользователь соглашается с тем, что после прохождения процедуры регистрации на Сайте,
            Администрация сайта и/или Продавец будет направлять на электронный адрес Пользователей письма
            и/или уведомления, в том числе, рекламного характера. Вместе с этим, Сайт обязуется не передавать
            электронный адрес, а также любые другие ведомости о Пользователях третьим лицам. Пользователь
            имеет право отказаться от такой рассылки самостоятельно.</p>
        <p>3.5. Указывая номер мобильного телефона в формах на сайте,
            Пользователь автоматически соглашается получать уведомления от Сайта, в том числе
            рекламного характера. При возникновении намерения остановить рассылку такого рода,
            Пользователь должен обратиться в техническую поддержку Сайта.</p>
        <p>3.6. Пользователю запрещается размещать пользовательский контент,
            запрещенный действующим законодательством и/или&nbsp;противоречащий
            морально-этическим нормам сообщества.</p>
        <p><span style="font-size: 15px; font-style: normal;">3.7.</span>
            <span style="font-size: 15px; font-style: normal;">&nbsp;</span>
            Осуществляя Заказ на Сайте, Пользователь добровольно предоставляет свое согласие Администрации
            сайта на сбор и обработку (накопление, хранение, адаптированные, возобновление, использование,
            распространение, уничтожение) указанных им данных, а именно: фамилия, имя, отчество, электронная
            почта, телефон, адрес, с целью обеспечения отношений в сфере купли-продажи, отношений в сфере
            защиты прав потребителей, в сфере рекламных и маркетинговых исследований, а также дает свое согласие
            на передачу (распространение) его данных перевозчикам, транспортно-экспедиторским и курьерским
            организациям, иным третьим лицам (без ограничения) на усмотрение Администрации сайта. Данное
            положение действует на протяжении 5 лет с момента оформления последнего заказа на сайте.</p>
        <p><span style="font-size: 15px;">3.8. Пользователь ознакомлен и согласен с условиями данного соглашения.</span>
        </p> </div>
</div>

{% endblock %}
